@media only screen and (max-width: 1023px) {


    .menu-lateral,
    .rodape,
    .cabecalho__botao,
    .secao-horizontal .cartao__subtitulo,
    .secao-horizontal .cartao__botao,
    .secao-horizontal .cartao__player,
    .secao-vertical .secao__link {
        display: none;
    }

    .container {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .cabecalho {
        justify-self: center;
    }

    .navbar {
        display: block;
        padding: 16px;
    }

    .navbar__items {
        display: flex;
        column-gap: 2rem;
        justify-content: center;
        align-items: center;
    }

    .conjunto__item_navbar {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 0.5rem;
    }

    .secao-horizontal .cartao {
        column-gap: 0.5rem;
    }

    .secao-horizontal .cartao__imagem {
        height: 4.58rem;
    }

    .secao-horizontal .cartao__titulo {
        font: 700 14px/20px Open Sans, sans-serif;
        align-self: center;
    }

    .secao-vertical .cartao {
        background-color: transparent;
        padding: 0;
    }

}

@media only screen and (min-width: 1024px) and (max-width: 1399px) {

    .container {
        padding-left: 1.25rem;
        padding-right: 1.25rem;
    }

    .cabecalho__botao__avancar,
    .cabecalho .cabecalho__logo {
        display: none;
    }

    .menu-lateral {
        width: 208px;
    }

    .navbar {
        display: none;
    }

    .secao-horizontal .cartao__imagem {
        height: 73px;
    }

    .secao-horizontal .cartao__titulo {
        font: 700 16px/22px 'Open Sans', sans-serif;
    }

    .secao-horizontal .cartao__subtitulo {
        font: 400 14px/19px 'Open Sans', sans-serif;
        width: 100%;
    }

    .secao-vertical .cartao {
        padding: 1.25rem;
    }

}

@media only screen and (min-width: 1400px) {

    .navbar,
    .cabecalho__logo {
        display: none;
    }

    .menu-lateral {
        width: 228px;
    }

}